<template id="translation-row-template">
<tr class="h-12">
    <td id="translation-name" data-label="Název:"></td>
    <td id="translation-words" data-label="Počet slov:"></td>
    <td id="translation-bonus" data-label="Bonus:"></td>
    <td id="translation-corrector" data-label="Korektoval:"></td>
    <td id="translation-timestamp" data-label="Zapsáno:"></td>
</tr>
</template>

<template id="correction-row-template">
<tr class="h-12">
    <td id="correction-name" data-label="Název:"></td>
    <td id="correction-words" data-label="Počet slov:"></td>
    <td id="correction-author" data-label="Autor:"></td>
    <td id="correction-timestamp" data-label="Přidáno:"></td>
</tr>
</template>

<template id="original-row-template">
<tr class="h-12">
    <td id="article-name" data-label="Název:"></td>
    <td id="article-words" data-label="Počet slov:"></td>
    <td id="article-corrector" data-label="Korektoval:"></td>
    <td id="article-timestamp" data-label="Zapsáno:"></td>
</tr>
</template>

<template id="translation-actions-template">
    <td class="flex flex-col gap-2 md:table-row">
        <a id="translation-edit" href=""><i class="text-2xl transition-opacity bi bi-pencil-square opacity-40 hover:opacity-100"></i></a>
        <a id="translation-delete"><i class="text-2xl transition-opacity bi bi-x-circle opacity-40 hover:opacity-100"></i></a>
    </td>
</template>

<template id="correction-actions-template">
    <td class="flex flex-col gap-2 md:table-row">
        <a id="correction-delete"><i class="text-2xl transition-opacity bi bi-x-circle opacity-40 hover:opacity-100"></i></a>
    </td>
</template>

<template id="translation-table-partial">
    <table class="w-full text-center mx-auto mt-4 mb-2 bg-white/5 transition-all shadow-2xl  md:border-separate md:table-auto border border-slate-900 md:py-5 md:w-auto md:min-w-[60%] border-spacing-x-12 border-spacing-y-0 md:rounded-xl backdrop-blur-sm">
        <thead>
        <tr>
            <th class="min-w-[12em]">Název</th>
            <th>Počet slov</th>
            <th>Bonusové body</th>
            <th>Korektoval</th>
            <th>Zapsáno</th>
            {% if current_user.is_authenticated %}
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody id="tb-articles">
        {% for tr in translations %}
        <tr id="t-{{tr.id}}" class="h-12">
            <td data-label="Název:">
                {% if tr.link %} <a class="hover:underline" target="_blank" href="{{tr.link}}">{{tr.name}}</a>
                {% else %} <span class="text-gray-500">{{tr.name}}</span>
                {% endif %}
            </td>
            <td data-label="Počet slov:">{{tr.words}}</td>
            <td data-label="Bonus:">{{tr.bonus}}</td>
            <td data-label="Korektoval:">{% if tr.corrector %}<a class="underline" href="{{url_for('UserController.user', uid=tr.corrector.get_id())}}">{{tr.corrector.nickname}}</a>{% else %}N/A{% endif %}</td>
            <td data-label="Zapsáno:">{{tr.added.strftime('%d.%m.%Y %H:%M')}}</td>
            {% if current_user.is_authenticated %}
            <td class="flex flex-col gap-2 md:table-row">
                <a class="" href="{{url_for('ArticleController.edit_article', aid=tr.id)}}"><i class="text-2xl transition-opacity bi bi-pencil-square opacity-40 hover:opacity-100"></i></a>
                <a class="" onclick="deleteModalOpen('{{tr.id}}', '{{tr.name}}')"><i class="text-2xl transition-opacity bi bi-x-circle opacity-40 hover:opacity-100"></i></a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</template>

<template id="correction-table-partial">
    <table class="w-full mx-auto mt-4 mb-2 text-center transition-all border shadow-2xl bg-white/5 md:border-separate md:table-auto md:min-w-[60%] border-slate-900 md:py-5 md:w-auto border-spacing-x-12 border-spacing-y-0 md:rounded-xl backdrop-blur-sm">
    <thead>
        <tr>
            <th class="min-w-[12em]">Název</th>
            <th>Počet slov</th>
            <th>Autor</th>
            <th>Zapsáno</th>
            {% if current_user.is_authenticated %}
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody id="co-articles">
        {% if corrections %}
        {% for corr in corrections %}
        <tr id="c-{{corr.article.id}}" class="h-12">
            <td data-label="Název:">
                {% if corr.article.link %} <a class="hover:underline" target="_blank" href="{{corr.article.link}}">{{corr.article.name}}</a>
                {% else %} <span class="text-gray-500">{{corr.article.name}}</span>
                {% endif %}
            </td>
            <td data-label="Počet slov:">{{corr.article.words}}</td>
            <td data-label="Autor:"><a class="underline" href="{{url_for('UserController.user', uid=corr.author.get_id())}}">{{corr.author.nickname}}</a></td>
            <td data-label="Zapsáno:">{{corr.timestamp.strftime('%d.%m.%Y %H:%M')}}</td>
            {% if current_user.is_authenticated %}
            <td class="flex flex-col gap-2 md:table-row">
                <a class="" onclick="deleteModalOpen('{{corr.article.id}}', '{{corr.article.name}}', true)"><i class="text-2xl transition-opacity bi bi-x-circle opacity-40 hover:opacity-100"></i></a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
        
        </tbody>
    </table>
</template>

<template id="original-table-partial">
    <table class="w-full mx-auto mt-4 mb-2 text-center transition-all border shadow-2xl bg-white/5 md:border-separate md:table-auto md:min-w-[60%] border-slate-900 md:py-5 md:w-auto border-spacing-x-12 border-spacing-y-0 md:rounded-xl backdrop-blur-sm">
    <thead>
        <tr>
            <th class="min-w-[12em]">Název</th>
            <th>Počet slov</th>
            <th>Korektoval</th>
            <th>Zapsáno</th>
            {% if current_user.is_authenticated %}
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody id="or-articles">
        {% if originals %}
        {% for article in originals %}
        <tr id="o-{{article.id}}" class="h-12">
            <td data-label="Název:">
                {% if article.link %} <a class="hover:underline" target="_blank" href="{{article.link}}">{{article.name}}</a>
                {% else %} <span class="text-gray-500">{{article.name}}</span>
                {% endif %}
            </td>
            <td data-label="Počet slov:">N/A</td>
            <td data-label="Korektoval:">{% if article.corrector %}<a class="underline" href="{{url_for('UserController.user', uid=article.corrector.id)}}">{{article.corrector.nickname}}</a>{% else %}N/A{% endif %}</td>
            <td data-label="Zapsáno:">{{article.added.strftime('%d.%m.%Y %H:%M')}}</td>
            {% if current_user.is_authenticated %}
            <td class="flex flex-col gap-2 md:table-row">
                <a class="" href="{{url_for('ArticleController.edit_article', aid=article.id)}}"><i class="text-2xl transition-opacity bi bi-pencil-square opacity-40 hover:opacity-100"></i></a>
                <a class="" onclick="deleteModalOpen('{{article.id}}', '{{article.name}}')"><i class="text-2xl transition-opacity bi bi-x-circle opacity-40 hover:opacity-100"></i></a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
        
        </tbody>
    </table>
</template>