<template id="translation-search-template">
<tr class="h-12">
    <td id="translation-name" data-label="Název:"></td>
    <td id="translation-words" data-label="Počet slov:"></td>
    <td id="translation-bonus" data-label="Bonus:"></td>
    <td id="translation-corrector" data-label="Korektoval:"></td>
    <td id="translation-timestamp" data-label="Zapsáno:"></td>
</tr>
</template>

<template id="translation-actions-template">
    <td class="flex flex-col gap-2 md:table-row">
        <a id="translation-edit" href=""><i class="text-2xl transition-opacity bi bi-pencil-square opacity-40 hover:opacity-100"></i></a>
        <a id="translation-delete" onclick="modalOpen()"><i class="text-2xl transition-opacity bi bi-x-circle opacity-40 hover:opacity-100"></i></a>
    </td>
</template>

<template id="translation-table">
    <table class="w-full text-center mx-auto mt-4 mb-2 bg-white/5 transition-all shadow-2xl  md:border-separate md:table-auto border border-slate-900 md:py-5 md:w-auto md:min-w-[60%] border-spacing-x-12 border-spacing-y-0 md:rounded-xl backdrop-blur-sm">
        <thead>
        <tr>
            <th class="min-w-[12em]">Název</th>
            <th>Počet slov</th>
            <th>Bonusové body</th>
            <th>Korektoval</th>
            <th>Zapsáno</th>
            {% if current_user.is_authenticated %}
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody id="tb-articles">
        {% for tr in translations %}
        <tr id="t-{{tr.id}}" class="h-12">
            <td data-label="Název:">
                {% if tr.link %} <a class="hover:underline" target="_blank" href="{{tr.link}}">{{tr.name}}</a>
                {% else %} <span class="text-gray-500">{{tr.name}}</span>
                {% endif %}
            </td>
            <td data-label="Počet slov:">{{tr.words}}</td>
            <td data-label="Bonus:">{{tr.bonus}}</td>
            <td data-label="Korektoval:">{% if tr.corrector %}<a class="underline" href="{{url_for('UserController.user', uid=tr.corrector.uid)}}">{{tr.corrector.nickname}}</a>{% else %}N/A{% endif %}</td>
            <td data-label="Zapsáno:">{{tr.added.strftime('%d.%m.%Y %H:%M')}}</td>
            {% if current_user.is_authenticated %}
            <td class="flex flex-col gap-2 md:table-row">
                <a class="" href="{{url_for('ArticleController.edit_article', aid=tr.id)}}"><i class="text-2xl transition-opacity bi bi-pencil-square opacity-40 hover:opacity-100"></i></a>
                <a class="" onclick="modalOpen('{{tr.id}}', '{{tr.name}}')"><i class="text-2xl transition-opacity bi bi-x-circle opacity-40 hover:opacity-100"></i></a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</template>

<template id="correction-table">
    <table class="w-full mx-auto mt-4 mb-2 text-center transition-all border shadow-2xl bg-white/5 md:border-separate md:table-auto md:min-w-[40%] border-slate-900 md:py-5 md:w-auto border-spacing-x-12 border-spacing-y-0 md:rounded-xl backdrop-blur-sm">
    <thead>
        <tr>
            <th class="min-w-[12em]">Název</th>
            <th>Počet slov</th>
            <th>Autor</th>
            {% if current_user.is_authenticated %}
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody id="tb-articles">
        {% if corrections %}
        {% for corr in corrections %}
        <tr id="c-{{corr.article.id}}" class="h-12">
            <td data-label="Název:">
                {% if corr.article.link %} <a class="hover:underline" target="_blank" href="{{corr.article.link}}">{{corr.article.name}}</a>
                {% else %} <span class="text-gray-500">{{corr.article.name}}</span>
                {% endif %}
            </td>
            <td data-label="Počet slov:">{{corr.article.words}}</td>
            <td data-label="Autor:">{{corr.author.nickname}}</td>
            {% if current_user.is_authenticated %}
            <td class="flex flex-col gap-2 md:table-row">
                <a class="" onclick="modalOpen('{{corr.article.id}}', '{{corr.article.name}}')"><i class="text-2xl transition-opacity bi bi-x-circle opacity-40 hover:opacity-100"></i></a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
        
        </tbody>
    </table>
</template>