<head>
<link rel="stylesheet" href="{{url_for('static', filename='css/badge.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<div class="relative flex flex-row items-center justify-start h-24 bg-black rounded-lg">
    <img class="block h-full border border-white border-solid rounded-l-lg" src="{{ url_for('UserContent.get_avatar', uid=(user.discord or 0), s='full')}}">
    <div class="flex flex-col flex-1 h-full font-semibold font-['Sour_Gummy'] backdrop-blur-sm pl-4 text-gray-700 bg-pink-900 bg-[url('../../static/justairithings.png')] rounded-r-lg">
        <h1 class="m-0 mt-1 text-xl text-gray-700">{{user.wikidot}}</h1>
        <p class="m-0 text-sm"><b>{{"%.1f" % stats.points}}</b> Překladatelských bodů</p>
        <p class="m-0 text-sm"><b>{{stats.translation_count}}</b> Přeložených článků</p>
        <p class="m-0 text-sm ">Poslední překlad: <b><a class="text-blue-800" href="{{last.link}}" class="text-white transition-opacity hover:opacity-75" target="_top">{{last.name}}</b></a></p>
    </div>
    <div class="absolute top-0 right-0 block {{get_role_color(stats.points)}} text-white p-2 rounded-bl-lg font-semibold rounded-tr-lg">{{get_user_role(stats.points)}}</div>
    <a href="https://scuttle.scp-wiki.cz" class="absolute bottom-0 text-xs text-gray-900 no-underline transition-opacity right-1 hover:opacity-100" target="_top">Powered by SCUTTLE</a>
</div>