{% extends "base.j2" %}

{% block content %}
<div class="flex flex-col gap-2 px-5 mt-2 flex-start">
    <div class="self-center p-6 text-center border rounded-lg border-red-500/40 bg-red-500/10">
        <h1 class="mb-2 text-xl font-bold">POZOR</h1>
        <p>Zajímavá tlačítka na této stránce jsou určena pro vývojáře (tj. Čýmse).
        Pokud na něco kliknete když nemáte, je možné že něco rozbijete.
        Pokud kliknete na tlačítko se symbolem <i class="mr-2 text-lg bi bi-exclamation-triangle"></i>tak <b>definitivně</b> něco rozbijete (taky se to zapisuje do logů, takže budu vědět, žes to byl ty).
        Prosím, nepřidělávejte mi práci :agrlove:</p>
    </div>
    <div class="flex flex-row flex-wrap gap-4">
        <div class="button-group">
            <h1 class="text-lg font-bold">Metadata</h1>
            <a class="glass-btn w-fit" href="{{url_for('DebugTools.updaterss')}}"><i class="mr-2 text-lg bi bi-rss"></i><p class="select-none">Vynutit aktualizaci RSS</p></a>
            <a class="glass-btn w-fit" href="{{url_for('DebugTools.avdownload')}}"><i class="mr-2 text-lg bi bi-image"></i><p class="select-none">Vynutit aktualizaci avatarů</p></a>
            <a class="glass-btn w-fit" href="{{url_for('DebugTools.nickupdate')}}"><i class="mr-2 text-lg bi bi-person"></i><p class="select-none">Vynutit aktualizaci uživatelů</p></a>
        </div>
        <div class="button-group">
            <h1 class="text-lg font-bold">Databáze</h1>
            <a class="glass-btn w-fit" href="{{url_for('DebugTools.export_database')}}"><i class="mr-2 text-lg bi bi-database"></i><p class="select-none">Exportovat databázi</p></a>
        </div>
        <div class="button-group">
            <h1 class="text-lg font-bold">Zálohy</h1>
            <div class="glass-btn w-fit"><i class="mr-2 text-lg bi bi-key"></i><p class="select-none">Otestovat přihlášení k Portaineru</p></div>
            <div class="btn-danger w-fit"><i class="mr-2 text-lg bi bi-exclamation-triangle"></i><p class="select-none">Vynutit start WikiComma kontejneru</p></div>
            <div class="btn-danger w-fit"><i class="mr-2 text-lg bi bi-exclamation-triangle"></i><p class="select-none">Ukončit WikiComma kontejner</p></div>
        </div>
        <div class="button-group">
            <h1 class="text-lg font-bold">Discord</h1>
            <a class="glass-btn w-fit" href="{{url_for('DebugTools.webhook_testing')}}"><i class="mr-2 text-lg bi bi-discord"></i><p class="select-none">Otestovat webhook</p></a>
        </div>
        <div class="button-group">
            <h1 class="text-lg font-bold">Error Handling</h1>
            <a class="glass-btn w-fit" href="{{url_for('DebugTools.raise_error')}}"><i class="mr-2 text-lg bi bi-exclamation-lg"></i><p class="select-none">Simulovat chybu</p></a>
            <a class="glass-btn w-fit" href="{{url_for('DebugTools.raise_critical_error')}}"><i class="mr-2 text-lg bi bi-exclamation-lg"></i><p class="select-none">Simulovat kritickou chybu</p></a>
        </div>
    </div>
</div>
{% endblock content %}