{% extends "base.j2" %}

{% block content %}

<div class="flex flex-col items-center justify-center w-full h-full m-0 con-error error-container">
    <img width="300" src="{{ url_for('static', filename='scp.png') }}">
    <h1 class="text-5xl text-white">{{errno}}</h1>
    <h1 class="text-3xl text-white">{{errtext}}</h2>
    <p class="text-xl text-white"><a href="{{errlink}}"><i>"{{errquote}}"</i></a></h3>
    <p class="mt-16 text-slate-300 hover:text-slate-50"><a href="{{url_for('index')}}"><i>Odvolat se k etické komisi?</i></a></p>
</div>

{% endblock content %}