{% extends "base.j2" %}

{% set hide_sidebar = true %}

{% block content %}

<div class="flex flex-col items-center justify-center w-full h-full m-0">
    <div class="rounded-xl bg-opacity-5 md:mt-4 md:mb-8 md:h-auto flex flex-col items-center h-full px-16 py-10 bg-white shadow-2xl">
    <img width="300" src="{{ url_for('static', filename='scp.png') }}" class="animate-pulse">
    <h1 class="text-5xl text-white">{{errno}}</h1>
    <h1 class="text-3xl text-white">{{errtext}}</h2>
    <p class="text-xl text-white"><a href="{{errlink}}"><i>"{{errquote}}"</i></a></h3>
    <p class="text-slate-300 hover:text-slate-50 mt-16"><a href="{{url_for('index')}}"><i>Odvolat se k etické komisi?</i></a></p>
    </div>
</div>

{% endblock content %}