{% extends "base.j2" %}

{% block content %}
<div class="flex flex-col p-10">
<h1 class="text-4xl font-bold">Přidat uživatele</h1>
<hr class="my-4 border-white">
<form method="post" class="flex flex-col w-full md:w-1/2 text-lg">
    {{ form.hidden_tag() }}
    {{form.nickname.label(class='self-start font-thin opacity-90 text-sm')}}
    {{form.nickname(class='mb-4 input-field', id='input-title')}}
    {{form.wikidot.label(class='self-start font-thin opacity-90 text-sm')}}
    {{form.wikidot(class='mb-4 input-field', id='input-link')}}
    {{form.discord.label(class='self-start font-thin opacity-90 text-sm')}}
    {{form.discord(class='mb-4 input-field')}}
    
    <span class="mb-6">
    <span class="inline">
    {{form.exempt(class='peer hidden', checked=True, onchange='updateExempt(this);')}}
    {{form.exempt.label(class="border-opacity-20 peer-checked:bg-blue-600 btn-rounded inline-block w-64 transition-all bg-gray-500 border-2 border-white", id='check-exempt')}}
    </span>
    
    <span class="inline">
    {{form.can_login(class='peer hidden', onchange='updateLogin(this);')}}
    {{form.can_login.label(class='border-opacity-20 peer-checked:bg-blue-600 btn-rounded inline-block w-64 transition-all bg-gray-500 border-2 border-white', id='check-login')}}
    </span>
    </span>
    {{form.submit(class='self-start bg-green-600 w-full md:w-36 btn-rounded hover:bg-green-500')}}
</form>
</div>

{% endblock content %}