<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCUTTLE v1.3.2</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.gif')}}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
    {% block head %}
    {% endblock head %}
</head>
<body class="h-screen bg-fixed bg-no-repeat text-slate-100 bg-gradient-to-b from-slate-900 to-violet-900">
    {% block content %}
    {% endblock content %}
    {% include 'flashmessage.j2' %}
    {% include 'sidebar.j2'%}
</body>
</html>