{% extends "base.j2" %}

{% block content %}
<div class="flex flex-col px-10 py-4 justify-center items-center">
    <h1 class="text-3xl font-semibold my-5">Nové články</h1>
    <table class="w-full text-center border-separate table-auto md:w-auto border-spacing-x-5">
    <thead>
        <tr class="border-b-2 border-black">
            <th>Název</th>
            <th>Přidáno</th>
            <th>Odkaz</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ch in changes %}
        <tr class="h-10 p-4" id="ch-{{ch.uuid}}">
            <td data-label="Název">{{ ch.title }}</td>
            <td data-label="Přidáno">{{ ch.timestamp }}</td>
            <td data-label="Odkaz">{{ ch.link }}</td>
            <td class="flex flex-col gap-2 md:table-row">
            <a class="inline-block w-full mb-2 bg-blue-600 btn-rounded hover:bg-blue-400 md:inline md:w-auto md:mb-0" href="#">Započítat</a>
            <a class="inline-block w-full mb-2 bg-red-600 btn-rounded hover:bg-red-400 md:inline md:w-auto md:mb-0" href="#">Ignorovat</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
<div class="absolute top-0 left-0 opacity-50">
<a href="{{url_for('index')}}">Zpět na hlavní stranu</a>
</div>

{% endblock content %}