{% extends "base.j2" %}

{% block content %}
<div class="flex flex-col items-center justify-center px-10 py-4">
    <h1 class="my-5 text-3xl font-semibold">Nové články</h1>
    <table class="w-full text-center mx-auto my-4 transition-all shadow-2xl md:bg-white md:border-separate md:table-auto md:py-5 md:w-auto md:min-w-[60%] border-spacing-x-12 border-spacing-y-0 md:rounded-xl md:bg-opacity-5 md:backdrop-blur-2xl">
    <thead>
        <tr class="border-b-2 border-black">
            <th>Název</th>
            <th>Přidáno</th>
            <th>Odkaz</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ch in changes %}
        <tr class="h-10 p-4" id="ch-{{ch.uuid}}">
            <td data-label="Název">{{ ch.title }}</td>
            <td data-label="Přidáno">{{ ch.timestamp }}</td>
            <td data-label="Odkaz"><a href="{{ ch.link }}" class=" decoration-white/50 hover:text-slate-500 underline transition-all">{{ ch.title }}</a></td>
            <td class="md:table-row flex flex-col gap-2">
            <a class="" href="#"><i class="bi bi-file-earmark-plus opacity-40 hover:opacity-100 text-2xl transition-opacity"></i></a>
            <a class="" onclick="delete_confirm(this);"><i class="bi bi-file-earmark-x opacity-40 hover:opacity-100 text-2xl transition-opacity"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
<div class="absolute top-0 left-0 opacity-50">
</div>

{% endblock content %}