{% extends "base.j2" %}

{% block head %}
<script src="{{url_for('static', filename='js/changes.js')}}" defer></script>
{% endblock head %}

{% block content %}
<div class="px-10 py-4 flex-col-center">
    <h1 class="my-5 text-3xl font-semibold">Nové stránky</h1>
    <table class="w-full text-center mx-auto my-4 transition-all shadow-2xl bg-white/5 md:border-separate md:table-auto md:py-5 md:w-auto md:min-w-[60%] border border-slate-900 border-spacing-x-12 border-spacing-y-0 md:rounded-lg backdrop-blur-sm">
    <thead>
        <tr class="border-b-2 border-black">
            <th>Název</th>
            <th>Přidáno</th>
            <th>Autor</th>
            <th>Odkaz</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ch in changes %}
        {% if ch.update_type == RSSUpdateType.RSS_NEWPAGE %}
        <tr class="h-10 p-4" id="ch-{{ch.uuid}}">
            <td data-label="Název">{{ ch.title }}</td>
            <td data-label="Přidáno">{{ ch.timestamp.strftime('%d.%m.%Y %H:%M') }}</td>
            <td data-label="Autor"><a href="{{ url_for('UserController.user', uid=ch.author.id) }}" class="underline transition-all decoration-white/50 hover:text-blue-400">{{ ch.author.nickname }}</a></td>
            <td data-label="Odkaz"><a href="{{ ch.link }}" class="underline transition-all decoration-white/50 hover:text-blue-400">{{ ch.title }}</a></td>
            <td class="flex flex-col gap-2 md:table-row">
            <a href="{{ url_for('ArticleController.add_article', uid=ch.author.id, rss=1, l=ch.link, t=ch.title, u=ch.uuid) }}"><i class="text-2xl transition-opacity bi bi-file-earmark-plus opacity-40 hover:opacity-100"></i></a>
            <a href="{{ url_for('ArticleController.add_article', uid=ch.author.id, rss=1, l=ch.link, t=ch.title, u=ch.uuid, original=1) }}"><i class="text-2xl transition-opacity bi bi-file-earmark-text opacity-40 hover:opacity-100"></i></a>
            <a href="{{ url_for('RssPageController.ignore_update', u=ch.uuid)}}" onclick="delete_confirm(this);"><i class="text-2xl transition-opacity bi bi-file-earmark-x opacity-40 hover:opacity-100"></i></a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    </table>
    <h1 class="text-xl text-white">Korekce</h1>
    <table class="w-full text-center mx-auto my-4 transition-all shadow-2xl bg-white/5 md:border-separate md:table-auto md:py-5 md:w-auto md:min-w-[60%] border border-slate-900 border-spacing-x-12 border-spacing-y-0 md:rounded-lg backdrop-blur-sm">
    <thead>
        <tr class="border-b-2 border-black">
            <th>Název</th>
            <th>Přidáno</th>
            <th>Korektor</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        {% for ch in changes %}
        {% if ch.update_type == RSSUpdateType.RSS_CORRECTION %}
        <tr class="h-10 p-4" id="ch-{{ch.uuid}}">
            <td data-label="Název">{{ ch.title }}</td>
            <td data-label="Přidáno">{{ ch.timestamp.strftime('%d.%m.%Y %H:%M') }}</td>
            <td data-label="Korektor"><a href="{{ url_for('UserController.user', uid=ch.author.id) }}" class="underline transition-all decoration-white/50 hover:text-blue-400">{{ ch.author.nickname }}</a></td>
            <td class="flex flex-row">
                <button class="small-button" onclick="modalOpen('{{ch.uuid}}', {{ch.author.id}}, '{{ch.link}}', '{{ch.title}}')">Přiřadit článek</button>
                <a class="small-button" href="{{url_for('RssPageController.ignore_update', u=ch.uuid)}}">Ignorovat</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    </table>
    <a class="px-3 py-2 border rounded-md select-none hover:bg-white/10 border-slate-900 backdrop-blur-sm bg-white/5" href="{{url_for('RssPageController.refresh')}}"><i class="mr-2 bi bi-arrow-clockwise"></i>Obnovit</a>
</div>
<div class="absolute top-0 left-0 opacity-50">
</div>

<div id="modal-overlay" class="modal-overlay">
    <div id="modal-window" class="px-10 py-8 bg-black border rounded-md border-slate-400 flex-col-center">
        <h1 class="mb-3 text-xl font-bold">Najít článek</h1>
        <input id="input-search" type="text" class="px-2 bg-transparent border-2 rounded-md appearance-none border-slate-400">
        <hr class="w-full my-6 border-white">
        <table class="border-separate border-spacing-x-12">
            <thead>
                <tr>
                    <th>Název</th>
                    <th>Autor</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody id="result-table-body">
            </tbody>
        </table>
    </div>
</div>

{% include "partials/rss_search_result.j2" %}

{% endblock content %}