{% extends "base.j2" %}

{% block content %}
<div class="flex flex-col items-center justify-center h-full p-10">

<h1 class="pb-6 text-3xl font-semibold">Přihlásit se</h1>

<form action="{{url_for('login')}}" method="post" class="flex flex-col items-center text-lg">
    {{ form.hidden_tag() }}
    {{form.username.label(class='self-start font-bold')}}
    {{form.username(class='mb-4 input-field', id='input-title')}}
    {{form.password.label(class='self-start font-bold')}}
    {{form.password(class='mb-4 input-field', id='input-link')}}
    {{form.submit(class='bg-green-600 w-36 btn-rounded hover:bg-green-500')}}
</form>

</div>

{% endblock content %}