{% extends "base.j2" %}

{% block content %}
<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="w-25 border border-primary px-4 py-2 rounded shadow-lg">
        <h2 class="text-center mt-2 mb-3">Nastavte si heslo</h2>
        <form action="{{ url_for('pw_change') }}", method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Uživatelské jméno</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Heslo</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <div class="row gx-1">
                <div class="col">
                    {{ form.submit(class="btn btn-success w-100 mb-3")}}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}