{% if not hide_sidebar %}
<div id="sidebar" class="fixed top-0 left-0 flex flex-col w-full h-screen p-4 transition-all duration-500 -translate-x-full md:bg-white/5 backdrop-blur-md md:w-64">
    {% if not current_user.is_authenticated %}
    <a href="{{ url_for('UserAuth.login') }}">
        <div class="flex flex-row items-center justify-between w-full h-12 px-3 py-2 my-3 transition-all border rounded-md bg-white/5 hover:bg-white/20 border-white/20">
            <i class="text-lg bi bi-box-arrow-in-right"></i>
            <p>Přihlásit se</p>
        </div>
    </a>
    {% else %}
    <a href="{{ url_for('UserAuth.logout') }}">
        <div class="flex flex-row items-center justify-between w-full h-12 px-3 py-2 my-3 transition-all border rounded-md bg-white/5 hover:bg-white/20 border-white/20">
            <i class="text-lg bi bi-escape"></i>
            <p>Odhlásit se</p>
        </div>
    </a>
    {% endif %}
    <a href="{{ url_for('index') }}">
        <div class="flex flex-row items-center justify-between w-full h-12 px-3 py-2 my-3 transition-all border rounded-md bg-white/5 hover:bg-white/20 border-white/20">
            <i class="text-lg bi bi-trophy"></i>
            <p>Žebříček překladatelů</p>
        </div>
    </a>
    <a href="{{ url_for('index') }}">
        <div class="flex flex-row items-center justify-between w-full h-12 px-3 py-2 my-3 transition-all border rounded-md bg-white/5 hover:bg-white/20 border-white/20">
            <i class="text-lg bi bi-search"></i>
            <p>Najít článek</p>
        </div>
    </a>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('UserController.add_user') }}">
        <div class="flex flex-row items-center justify-between w-full h-12 px-3 py-2 my-3 transition-all border rounded-md bg-white/5 hover:bg-white/20 border-white/20">
            <i class="text-lg bi bi-person-add"></i>
            <p>Přidat uživatele</p>
        </div>
    </a>
    {% endif %}
    <div id='sidebar-close' class="flex flex-row items-center justify-between w-full h-12 px-3 py-2 my-3 mt-auto transition-all border rounded-md bg-white/5 hover:bg-white/20 border-white/20">
        <i class="text-lg bi bi-x-lg"></i>
        <p>Zavřít</p>
    </div>
</div>
<i id='sidebar-toggle' class="fixed block px-2 text-3xl transition-all border rounded-md bi bi-list top-3 left-5 bg-white/5 hover:bg-white/20 backdrop-blur-lg border-white/20"></i>
<script src="{{ url_for('static', filename='js/sidebar.js')}}"></script>
{% endif %}