{% extends "base.j2" %}

{% block content %}
<div class="flex flex-col items-center justify-center w-auto md:p-2">
    <div>
        <div class="inline-flex flex-col items-center w-full px-10 py-5 mb-8 border rounded-md shadow-2xl backdrop-blur-sm bg-white/5 border-slate-900 md:mt-4 md:w-auto md:flex-row">
        <h2 class="text-lg font-bold md:mr-6">Řadit:</h2>
        <a href="{{url_for('index', sort='az')}}" class="sorter-button">A-Z</a>
        <a href="{{url_for('index', sort='count')}}" class="sorter-button">Počet článků</a>
        <a href="{{url_for('index', sort='points')}}" class="sorter-button">Počet bodů</a>
        <a href="{{url_for('index', sort='corrections')}}" class="sorter-button">Počet korekcí</a>
        </div>
        
        <div class="inline-block w-full px-4 mb-6 ml-3 text-center text-black border rounded-md shadow-2xl bg-white/5 border-slate-900 backdrop-blur-sm md:w-auto md:py-5">
            <i class="mr-4 text-xl text-white bi bi-search"></i>
            <input type="text" id="search-field" class="p-2 text-white rounded-md shadow-inner outline-none bg-white/20">
        </div>
    </div>
    <div class="italic opacity-40">Aktualizováno {{lastupdate}}</div>
    <table class="w-full my-2 px-2 transition-all shadow-2xl bg-white/5 backdrop-blur-sm rounded-md md:border-separate md:table-auto md:py-5 md:w-auto md:min-w-[60%] border-spacing-auto border-spacing-y-0 border-slate-900 border ">
    <thead>
        <tr class="border-b-2 border-black">
            <th>Nickname</th>
            <th>Discord</th>
            <th>Překlady</th>
            <th>Korekce</th>
            <th>Celkem bodů</th>
            <th>Aktuální role</th>
            {% if current_user.is_authenticated %}
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody id="ut-body" class="transition-all">
        {% for entry in users %}
        <tr class="h-10 md:p-4 usr-row" id="u-{{entry.user.id}}">
            <td data-label="Přezdívka">{{ entry.user.nickname }}</td>
            <td data-label="Discord ID">
            {% if entry.user.discord %}
            <img class="w-8 h-8 rounded-[50%] inline md:mr-4" src={{ url_for('UserContent.get_avatar', uid=(entry.user.discord or 0), s='thumb') }}>
            {{ entry.user.display_name or entry.user.discord }}
            {% endif %}</td>
            <td data-label="Počet překladů">{{ entry.translation_count }}</td>
            <td data-label="Počet korekcí">{{ entry.correction_count }}</td>
            <td data-label="Počet bodů">{{ "%.1f" % entry.points }}</td>
            <td data-label="Role"><div class=" bg-opacity-70 text-sm font-italic py-1 px-1 {{get_role_color(entry.points)}} rounded-full shadow-lg">{{get_user_role(entry.points)}}</div></td>
            <td class="flex flex-col md:table-row">
                <a class="inline-block w-full mb-2 md:inline md:w-auto md:mb-0" href="{{url_for('UserController.user', uid=entry.user.id)}}"><i class="text-3xl transition-opacity bi bi-eye opacity-40 hover:opacity-100"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <div id="page-selector" class="flex flex-row items-center mx-auto border rounded-md w-min bg-white/5 backdrop-blur-sm border-slate-900">
        {% for p in range((user_count / 15)|round(0, 'ceil')|int) %}
        <a class="px-2 py-2 transition-all rounded-md hover:bg-white/30" href="{{url_for('index', sort=sort, p=p)}}">{{p+1}}</a>
        {% endfor %}
    </div>
</div>
</div>

<script src="{{url_for('static', filename='js/usersearch.js')}}"></script>
{% endblock content %}