{% extends "base.j2" %}

{% block head %}
<script src="{{url_for('static', filename='js/clipboard.min.js')}}"></script>
{% endblock head %}

{% block content %}
  
<div class="flex flex-col p-10 mx-10 my-4 bg-white border shadow-2xl border-slate-900 bg-opacity-5 rounded-xl backdrop-blur-sm">
    <h1 class="mb-2 text-4xl font-bold">{{user.nickname}}</h1>
    <hr class="mb-4 border-white">
    <div class="flex flex-row items-center w-full ">
        <img class="hidden mr-6 bg-white border-2 border-white max-h-48 rounded-xl md:block " src="{{ url_for('UserContent.get_avatar', uid=(user.discord or 0), s='full')}}">
        <div>
            <p id='desc-iduser' class="my-1 text-xl"><b>ID:</b> {{user.id}}</p>
            <p class="my-1 text-xl"><b>Wikidot ID:</b> <a class="hover:text-blue-500" target="_blank" href="https://www.wikidot.com/user:info/{{user.wikidot | replace(' ', '-')}}/">{{user.wikidot}}</a></p>
            <p class="my-1 text-xl"><b>Discord:</b> {{user.display_name}} ({{ user.discord }})</p>
            <div class="flex flex-row items-center justify-start gap-3">
            <p class="inline my-1 text-xl"><b>Počet bodů:</b> {{stats.points|round(2)}}</p>
            {% if stats.points > 5 %}
            <span class=" bg-opacity-70 text-sm font-italic py-1 px-3 inline w-auto {{get_role_color(stats.points)}} rounded-full shadow-lg">{{get_user_role(stats.points)}}</span>
            {% endif %}
            </div>
            <p class="mt-1 text-xl"><b>Celkem překladů:</b> {{stats.count}}</p>
            
            {% if current_user.is_authenticated %}
            <div class="flex flex-col gap-1 my-3 md:flex-row md:my-2 align-center">
                <a href="{{url_for('ArticleController.add_article', uid=user.id)}}" class="glass-btn"><i class="mr-2 text-2xl bi bi-file-earmark-plus"></i>Přidat překlad</a>
                <button class="glass-btn" onclick="articlePickerOpen()"><i class="mr-2 text-2xl bi bi-file-earmark-check"></i>Přidat korekci</button>
                <a href="{{url_for('ArticleController.add_article', uid=user.id, original=1)}}" class="glass-btn"><i class="mr-2 text-2xl bi bi-file-earmark-text"></i>Přidat článek</a>
                <a href="{{url_for('UserController.edit_user', uid=user.id)}}" class="glass-btn"><i class="mr-2 text-2xl bi bi-person-gear"></i>Upravit uživatele</a>
                <a id="del-btn" href="javascript:void(0)" class="glass-btn"><i class="mr-2 text-2xl bi bi-person-x"></i>Smazat uživatele</a>
                <a id="del-confirm" href="{{url_for('UserController.delete_user', uid=user.id)}}" class="hidden glass-btn">
                    <i class="mr-2 text-2xl bi bi-check-lg"></i> Potvrdit smazání?
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="pb-3">
<div class="flex flex-col justify-center w-full gap-6 mt-4 md:flex-row md:gap-0">
    <div id="type-selector" class="sorter-group">
        <h2 class="w-full text-lg font-bold text-center md:w-auto md:mr-6">Zobrazit:</h2>
        <button onclick="setType('translation')" class="sorter-button">Překlady</button>
        <button onclick="setType('correction')" class="sorter-button">Korekce</button>
        <button onclick="setType('original')" class="sorter-button">Originální články</button>
    </div>

    <div id="sort-selector" class="sorter-group">
        <h2 class="w-full text-lg font-bold text-center md:w-auto md:mr-6">Řadit:</h2>
        <button onclick="setSorting('az')" class="sorter-button">A-Z</button>
        <button onclick="setSorting('latest')" class="sorter-button">Nejnovější</button>
        <button onclick="setSorting('words')" class="sorter-button">Počet slov</button>
    </div>
    
    <div class="inline-block w-full px-4 text-center text-black bg-white border border-slate-900 md:shadow-2xl md:rounded-xl bg-opacity-5 backdrop-blur-sm md:w-auto md:py-5">
        <i class="mr-4 text-xl text-white bi bi-search"></i>
        <input type="text" id="search-field" class="p-2 text-white rounded-md shadow-inner outline-none max bg-white/20">
    </div>
</div>

<table id="translation-table" class="active-table w-full text-center mx-auto mt-4 mb-2 bg-white/5 transition-all shadow-2xl  md:border-separate md:table-auto border border-slate-900 md:py-5 md:w-auto md:min-w-[60%] border-spacing-x-12 border-spacing-y-0 md:rounded-xl backdrop-blur-sm">
    <thead>
    <tr>
        <th class="min-w-[12em]">Název</th>
        <th>Počet slov</th>
        <th>Bonusové body</th>
        <th>Korektoval</th>
        <th>Zapsáno</th>
        {% if current_user.is_authenticated %}
        <th></th>
        {% endif %}
    </tr>
    </thead>
    <tbody id="tb-articles">
    {% for tr in translations %}
    <tr id="t-{{tr.id}}" class="h-12">
        <td data-label="Název:">
            {% if tr.link %} <a class="hover:underline" target="_blank" href="{{tr.link}}">{{tr.name}}</a>
            {% else %} <span class="text-gray-500">{{tr.name}}</span>
            {% endif %}
        </td>
        <td data-label="Počet slov:">{{tr.words}}</td>
        <td data-label="Bonus:">{{tr.bonus}}</td>
        <td data-label="Korektoval:">{% if tr.corrector %}<a class="underline" href="{{url_for('UserController.user', uid=tr.corrector.id)}}">{{tr.corrector.nickname}}</a>{% else %}N/A{% endif %}</td>
        <td data-label="Zapsáno:">{{tr.added.strftime('%d.%m.%Y %H:%M')}}</td>
        {% if current_user.is_authenticated %}
        <td class="flex flex-col gap-2 md:table-row">
            <a class="" href="{{url_for('ArticleController.edit_article', aid=tr.id)}}"><i class="text-2xl transition-opacity bi bi-pencil-square opacity-40 hover:opacity-100"></i></a>
            <a class="" onclick="deleteModalOpen('{{tr.id}}', '{{tr.name}}')"><i class="text-2xl transition-opacity bi bi-x-circle opacity-40 hover:opacity-100"></i></a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<div id="page-selector" class="flex flex-row items-center mx-auto border rounded-md cursor-pointer select-none w-min bg-white/5 backdrop-blur-sm border-slate-900">
    {% for p in range((stats.translation_count / 15)|round(0, 'ceil')|int) %}
    <span class="px-2 py-2 transition-all rounded-md hover:bg-white/30" onclick="showPage({{p}})">{{p+1}}</span>
    {% endfor %}
</div>
</div>


<div id="modal-overlay" class="modal-overlay">
    <div id="modal-window" class="px-10 py-8 bg-black border rounded-md border-slate-400 flex-col-center">
        <h2 class="mb-2 text-xl font-semibold">Potvrzení</h2>
        <p id='confirm-text' class="mb-4"></p>
        <div id='confirm-buttons' class="flex flex-row justify-center w-full">
            <a id="btn-delete-yes" class="mx-1 border-2 border-green-800 w-36 btn-rounded hover:border-green-500">Ano</a>
            <a id="btn-delete-no" class="mx-1 border-2 border-red-900 w-36 btn-rounded hover:border-red-500" onclick="deleteModalClose()">Ne</a>
        </div>
    </div>
</div>

{% include 'partials/article_search_partials.j2'%}
{% include 'partials/article_picker_modal.j2'%}

<script defer>
$('#del-btn').click(() => {$('#del-btn').addClass('hidden'); $('#del-confirm').removeClass('hidden')})
</script>
<script src="{{url_for('static', filename='js/user.js')}}"></script>
{% endblock content %}