@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100% !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans';
}

body {
  background: black;
  background-image: radial-gradient(#333 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

.bg-scp {
  background-image: url(../RAISA2.webp);
  background-position: top 1em left 1em;
  background-size: 250PX;
  background-color: black;
  background-repeat: no-repeat;
}

.error-container {
  background: black;
}

thead {
  @apply hidden;
  @apply md:table-header-group;
}

tr {
  @apply flex flex-col h-auto w-full px-3 py-2 my-4 items-end shadow-2xl border-gray-500 bg-opacity-5 bg-white !important;
  @apply md:table-row md:h-10 md:p-4 md:border-none md:shadow-none md:bg-transparent !important;
}

td {
  @apply block my-1 before:content-[attr(data-label)] before:font-semibold before:float-left w-full text-right;
  @apply md:table-cell md:before:content-none md:text-center md:w-auto !important;
}



@layer components {

  .form-label {
    @apply opacity-90 self-start text-sm font-thin;
  }

  .glass-btn {
    @apply bg-white/5 hover:bg-white/20 border-white/20 inline-flex items-center justify-center h-12 px-3 py-2 transition-all border rounded-md;
  }

  .glass-btn-sidebar {
    @apply bg-white/5 hover:bg-white/20 border-white/20 flex flex-row items-center justify-between w-full h-12 px-3 py-2 my-3 transition-all border rounded-md;
  }

  .btn-rounded {
    @apply bg-opacity-80 px-4 py-2 text-center text-white transition-colors rounded-lg select-none;
  }
  
  .input-field {
    @apply border-slate-500 focus-visible:outline-none focus-visible:border-b-slate-300 p-1 text-lg transition-colors bg-transparent border-b; /* Used in text input forms*/
  }

  .progressbar {
    @apply w-1/2 h-6 px-1 py-1 border-2 border-white rounded-lg bg-black; /* Used on the statistics page */
  }

  .progressbar-inner {
    @apply bg-blue-600 w-0 h-full transition-all duration-700 rounded-lg; /* Used on the statistics page */
  }

  .bignumber {
    @apply inline text-6xl font-bold; /* Used on the statistics page */
  }

  .sorter-container {
    @apply first-letter:bg-gradient-to-bl from-rose-800 via-black to-fuchsia-600
  }

  .sorter-button {
    @apply hover:bg-white/30 md:my-0 md:w-auto md:mx-1 btn-rounded border border-slate-900 flex-grow my-2 bg-white/10 cursor-pointer;
  }

  .small-button {
    @apply px-1 ml-2 transition-all bg-transparent border-2 rounded-md border-slate-800 text-white/90 hover:bg-white/10;

  }
  .sorter-group {
    @apply inline-flex flex-row flex-wrap items-center justify-center w-full gap-2 px-10 py-5 mr-4 bg-white border shadow-2xl border-slate-900 backdrop-blur-sm md:gap-0 md:w-auto md:flex-row md:rounded-xl bg-opacity-5;
  }

  .modal-overlay {
    @apply fixed top-0 left-0 z-10 flex-col items-center justify-center hidden max-size backdrop-blur-sm;
  }

  .button-group {
    @apply border border-white/40 bg-white/5 w-fit h-fit p-4 rounded-md flex flex-col items-center gap-3
  }

  .btn-danger {
    @apply glass-btn border-red-500/40 hover:bg-red-500/40;
  }
}

@layer utilities {
  
  .shadow-inner {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .flex-row-center {
    @apply flex flex-row items-center justify-center;
  }

  .max-size {
    @apply w-full h-full;
  }
  
}

.gradient-background {
  background: linear-gradient(15deg,#a71bb9,#000000,#9f1239);
  background-size: 150% 150%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}