@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100% !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-label {
  opacity: .7 !important;
}

.bg-scp {
  background-image: url(../RAISA2.webp);
  background-position: top 1em left 1em;
  background-size: 250PX;
  background-color: black;
  background-repeat: no-repeat;
}

.error-container {
  background: black;
}

.btn-rounded {
  @apply px-4 py-2 text-center text-white transition-colors rounded-lg select-none bg-opacity-80;
}

.input-field {
  @apply p-1 text-lg transition-colors bg-transparent border-b border-slate-500 focus-visible:outline-none focus-visible:border-b-slate-300;
}

thead {
  @apply hidden;
  @apply md:table-header-group;
}

tr {
  @apply flex flex-col h-auto w-full px-3 py-2 my-4 items-end shadow-2xl border-gray-500 bg-opacity-5 bg-white !important;
  @apply md:table-row md:h-10 md:p-4 md:border-none md:shadow-none md:bg-transparent !important;
}

td {
  @apply block my-1 before:content-[attr(data-label)] before:font-semibold before:float-left w-full text-right;
  @apply md:table-cell md:before:content-none md:text-center md:w-auto !important;
}

.shadow-inner {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
