{% extends "base.j2" %}

{% block content %}
<div class="flex flex-col items-center justify-center w-full h-full md:p-10">



<form method="post" class="flex flex-col items-center w-auto px-24 py-8 text-lg border shadow-2xl bg-black/30 backdrop-blur-sm border-slate-900 md:rounded-xl">
    <h1 class="pb-6 text-3xl font-semibold">Přihlásit se</h1>
    {{ form.hidden_tag() }}
    <div>
    {{form.username.label(class='self-start text-sm font-thin opacity-90')}}<br>
    {{form.username(class='mb-4 input-field', id='input-title')}}
    </div>
    <div>
    {{form.password.label(class='self-start text-sm font-thin opacity-90')}}<br>
    {{form.password(class='mb-4 input-field', id='input-link')}}
    </div>
    <div>
    {{form.submit(class='inline mx-2 mb-2 bg-green-600 w-36 btn-rounded hover:bg-green-500')}}
    <a href="{{url_for('OauthController.oauth_session')}}" class="inline mx-2 bg-blue-600 w-36 btn-rounded hover:bg-blue-500"><i class="text-xl bi bi-discord"></i></a>
    </div>
</form>

</div>

{% endblock content %}