{% extends "base.j2" %}

{% block content %}
<div class="md:p-10 flex flex-col items-center justify-center w-full h-full">



<form method="post" class="bg-opacity-5 md:rounded-xl flex flex-col items-center w-auto w-full px-24 py-8 text-lg bg-white shadow-2xl">
    <h1 class="pb-6 text-3xl font-semibold">Přihlásit se</h1>
    {{ form.hidden_tag() }}
    <div>
    {{form.username.label(class='opacity-90 self-start text-sm font-thin')}}<br>
    {{form.username(class='input-field mb-4', id='input-title')}}
    </div>
    <div>
    {{form.password.label(class='opacity-90 self-start text-sm font-thin')}}<br>
    {{form.password(class='input-field mb-4', id='input-link')}}
    </div>
    <div>
    {{form.submit(class='w-36 btn-rounded hover:bg-green-500 inline mx-2 mb-2 bg-green-600')}}
    <a href="{{url_for('OauthController.oauth_session')}}" class="w-36 btn-rounded hover:bg-blue-500 inline mx-2 bg-blue-600"><i class="bi bi-discord text-xl"></i></a>
    </div>
</form>

</div>

{% endblock content %}