{% extends "base.j2" %}

{% block content %}
<div class="flex flex-col items-center justify-center h-full p-10">

<h1 class="pb-6 text-3xl font-semibold">Přihlásit se</h1>

<form method="post" class="flex flex-col items-center text-lg">
    {{ form.hidden_tag() }}
    {{form.username.label(class='self-start font-bold')}}
    {{form.username(class='input-field mb-4', id='input-title')}}
    {{form.password.label(class='self-start font-bold')}}
    {{form.password(class='input-field mb-4', id='input-link')}}
    {{form.submit(class='w-36 btn-rounded hover:bg-green-500 bg-green-600')}}
</form>

</div>

{% endblock content %}